<style>
        html {
            height: 100%;
        }

        body {
            background-image: url(https://drive.google.com/file/d/1q4PTlv7DU-UEmitOknFD6nbgoEuYU8C9/view?usp=sharing);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style
